.cardfour {}

.cardfour-img {
    margin-top: 49px;
    width: 106px;
    height: 87.328px;
    flex-shrink: 0;
    margin-left: 91px;
    margin-bottom: 27px;
}

.cardfour-text {
    display: flex;
    width: 226px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 28px;
    margin-bottom: 24px;
}

.cardfour-imgtwo {
    margin-left: 116px;
    width: 50.999px;
    height: 20px;
    flex-shrink: 0;
}