* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: #0E0E0E;
}

.nav-father {
    display: flex;
}

.nav-img {
    padding-top: 24px;
    margin-left: 268px;
    margin-right: 32px;
    padding-bottom: 18px;
}

.nav-text {
    padding-bottom: 26px;
    padding-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 28px;
}

.nav-texttwo {
    padding-bottom: 26px;
    padding-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 28px;
}

.nav-textthree {
    padding-bottom: 26px;
    padding-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 28px;
}

.nav-textfour {
    padding-bottom: 26px;
    padding-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 28px;
}

.nav-textfive {
    padding-bottom: 26px;
    padding-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 32px;
}

.nav-btn {
    background-color: #0E0E0E;
    width: 168px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Geometria;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 18px;
    margin-top: 50px;
    padding: 12px 20px 12px 20px;
    margin-right: 23px;
    border: 4px solid #D42E12;
}

.nav-imgtwo {
    padding-bottom: 18px;
    margin-top: 42px;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px 6.586px 5.586px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 12px;
}

.nav-imgthree {
    padding-bottom: 18px;
    margin-top: 42px;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}